---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <p class='text-2xl font-bold'>My page content is here</p>
  <p>The website of Asim Sheikh. Looking at the astro framework</p>
</Layout>
